<div class="background-art">
</div>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="dashboard-card">
            <h3 class="text-wallet">Wallet</h3>
            <div class="balance-circles">
              <div data-controller="popover" class="relative">

                <div class="balance-circle" data-action= "mouseover->popover#show mouseout->popover#hide", class="relative">
                  <template data-popover-target="content" class="pop-text-box">
                    <div  data-popover-target="card" class="popover-box position-absolute">
                      <p class="popover-p">Round Ups + Earnings</p>
                    </div>
                  </template>
                  <h3 class="text-circle"> Balance</h3>
                  <div class="text-center">
                    <h3>$<%= @dollar_balance %></h3>
                    <%# <p id="explanation" style="font-size:14px;"> Round Ups + Earnings </p> %>
                  </div>
                  <div class="shadow"></div>
                </div>
              </div>
              <div data-controller="popover" class="relative">

                <div class="balance-circle" data-action= "mouseover->popover#show mouseout->popover#hide", class="relative">
                  <template data-popover-target="content" class="pop-text-box">
                    <div  data-popover-target="card" class="popover-box2 position-absolute">
                      <p class="popover-p2"> Total Amount Earned</p>
                    </div>
                  </template>
                  <h3 class="text-circle"> Earnings</h3>
                  <div class="text-center">
                    <h3 class="price-up"><%= icon("fas", "caret-up") %> $<%= @earnings %></h3>
                  </div>
                  <div class="shadow"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">

          <div class="dashboard-card">
            <h3 class="text-graph">Bitcoin 5yr Chart</h3>
            <%= line_chart @final_data %>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <div class="dashboard-card">
            <h3 class="text-balance mb-4">Asset Overview</h3>
            <div class="holdings-info">
              <div class="holding-item">
                <p> <strong>Asset</strong> </p>
                <p>BTC</p>
              </div>
              <div class="holding-item">
              <p> <strong> Coin Balance </strong></p>
             <p><%=@coin_balance%></p>
              </div>

              <div class="holding-item">
                <p> <strong>Price </strong> </p>
                  <p> $<%= number_with_delimiter(Coin.current_price.to_i, :delimiter => ',') %> </p>
              </div>
              <div class="holding-item">
                <p> <strong> % Return </strong> </p>
               <p class="price-up2"> <%= icon("fas", "caret-up") %> <%=(@earnings_percentage*100).round(2) %></p>
              </div>


            </div>

          </div>
        </div>
      </div>
        <div class="row mt-4">
          <div class="col-12 col-lg-6">
            <div class="dashboard-card-below">
              <h3 class="text-balance mb-4" style="text-align:center;">Round Up Details</h3>
              <div class="holdings-info">
                <div class="holding-item">
                  <p> <strong> First Round Up Date</strong> </p>
                  <p><%= @transactions.order(transaction_date: :desc).last.transaction_date.strftime("%d/%m/%Y") %></p>
                </div>
                <div class="holding-item">
                <p> <strong> Number of Round Ups </strong></p>
              <p><%= @transactions.count  %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="dashboard-card-below">
              <h3 class="text-balance mb-4" style="text-align:center;">Investment Details</h3>
              <div class="holdings-info">
                <div class="holding-item">
                  <p> <strong> Your Return on Investment </strong> </p>
                  <p class="price-up2"><%= icon("fas", "caret-up") %>%<%= (@earnings_percentage*100).round(2)%></p>
                </div>
                <div class="holding-item">
                <p> <strong> Bitcoin Amount </strong></p>
              <p><%=@coin_balance%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="compound-interest">
    <h3> Compound Interest Calculator</h3>
    <%= form_tag dashboard_path, method: :post do %>
        <div class="form-inputs">
          <p> Principal (Beginning Investment Amount) <%= text_field_tag :principal %> </p>
          <p> Monthly Contributions <%= text_field_tag :monthly_contributions%>  </p>
          <p> Time (In Years) <%= text_field_tag  :years %> </p>
          <p> Interest Rate <%= text_field_tag  :interest %> </p>
        </div>
        <div class="form-actions">
           <%= submit_tag %>
        </div>
      <% end %>
     <%= @compound_calculation['value']%>

    </div>
  </div>

</div>
