<div>
  <h1>My Transaction List</h1>
  <ul>
    <% @transactions.each do |transaction| %>
      <li>  <%= transaction.description %>
            <%= transaction.amount %>
            <%= transaction.transaction_date %>
            <%= transaction.coin_amount %>
            <%= transaction.coin_amount %>
            <%#= transaction.round_up %>

        <% end %>
    </li>
  </ul>
</div>
